models/
__pycache__/
*.pyc
output/
*.zip
*.gz
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lz
*.tar.lz4
*.tar.zstd
*.tar.zstd
*.pkl
*.pt
*.pth
*.safetensors
*.ckpt
*.model
*.onnx
*.ot
*.parquet
*.pb
*.pickle
